<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to the <b>HAIL</b> Research Group!</h2>
        <p class="lead">HAIL (Handong Artificial Intelligence Lab) is an active research group 
        within the School of Computer Science and Electrical Engineering 
        at Handong Global University. We are dedicated to pioneering advances 
        in artificial intelligence, with research spanning deep learning, 
        graph models, anomaly detection, and applied machine learning. 
        Our mission is to drive innovation and excellence in the field of AI.</p>
      </div>
      <!-- /.col-lg-12 text-center -->
      <div class="col-lg-12 text-justify" style="margin-top: 20px;">
        <h3>People</h3>
      </div>
      <!-- /.col-lg-12 text-justify -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
