<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to the <b>HAIL</b> Research Group!</h2>
        <p class="lead">HAIL (Handong Artificial Intelligence Lab) is an active research group 
        within the School of Computer Science and Electrical Engineering 
        at <a href="https://handong.edu/" target="_blank">Handong Global University</a>, Korea. We are dedicated to pioneering advances 
        in artificial intelligence, with research spanning deep learning, 
        graph models, anomaly detection, and applied machine learning. 
        Our mission is to drive innovation and excellence in the field of AI.</p>
      </div>
      <!-- /.col-lg-12 text-center -->
      <div class="col-lg-12 text-justify" style="margin-top: 20px;">
        <h3>People</h3>
        
        <div class="col-lg-12 text-justify" style="margin-left: 10px;">
          <!-- PI -->
          <h4>Principal Investigator</h4>
          <table class="people-table">
            <tr>
              <td><a href="https://charmgil.github.io/" target="_blank">Charmgil Hong, Ph.D.</a></td>
            </tr>
          </table>
          <br/><br/>
          
          <!-- Grads -->
          <h4>Graduate Students</h4>
          <table class="people-table">
            <tr>
              <th colspan="4">Master's Students</th>
            </tr>
            <tr>
              <td width="192">Jihyun Moon, B.S.E.</td>
              <td width="192">Soyeon Park, B.S.E.</td>
              <td width="192"><a href="https://hrkim153.github.io/" target="_blank">Harim Kim, B.S.E.</a></td>
              <td width="192"> </td>
            </tr>
          </table>
          <br/><br/>
          
          <!-- Undergrads -->
          <h4>Undergraduate Students</h4>
          <table class="people-table">
            <tr>
              <th colspan="4">Post-Capstone Students</th>
            </tr>
            <tr>
              <td width="192">Heeseo Jeong</td>
              <td width="192">Seonghyun Lee</td>
              <td width="192">Yunseong Choe</td>
              <td width="192"> </td>
            </tr>
            <tr class="vspace-row"></tr> <!-- Add an empty row for spacing -->
            <tr>
              <th colspan="4">Students on Capstone Projects</th>
            </tr>
            <tr>
              <td width="192">Yujin Kim (MMM)</td>
              <td width="192">Seoeun Park (MMM)</td>
              <td width="192">Yunji Lee (MMM)</td>
              <td width="192">Chongmyung Kwon (MMM)</td>
            </tr>
            <tr>
              <td width="192">Eunchan Jeong (<a href="pages/projects#vode">VIDEX</a>)</td>
              <td width="192">Ulim Lee (<a href="pages/projects#vode">VIDEX</a>)</td>
              <td width="192">Eunseo Jeong (<a href="pages/projects#vode">VIDEX</a>)</td>
              <td width="192">Youngjun Shim (<a href="pages/projects#vode">VIDEX</a>)</td>
            </tr>
            <tr>
              <td width="192">Hangyeol Kim (AIEC)</td>
              <td width="192">Yejun Jung (AIEC)</td>
              <td width="192">Gyungsu Roh (LLLM)</td>
              <td width="192">Changyoung Lee (LLLM)</td>
            </tr>
            <tr>
              <td width="192">Hyunmo Kang (CAM)</td>
              <td width="192">Junjae Lee (CAM)</td>
              <td width="192"> </td>
              <td width="192"> </td>
            </tr>
            <tr>
            </tr>
          </table>
          <br/><br/>

          <!-- Former members -->
          <h4>Former Students</h4>
          <table class="people-table">
            <tr>
              <th colspan="4">M.S. Graduates</th>
            </tr>
            <tr>
              <td colspan="4">Geonyeong Choi (2021-2024) - Ph.D. Student at the University of Pittsburgh</td>
            </tr>
            <tr>
              <td colspan="4">Jihyeon Song (2023-2024) - Data Scientist at Acryl Inc.</td>
            </tr>
            <tr class="vspace-row"></tr> <!-- Add an empty row for spacing -->
            <tr>
              <th colspan="4">B.S.E. Contributors</th>
            </tr>
            <tr>
              <td width="192">Donggun Park (<a href="pages/projects#vode">VIDEX</a>)</td>
              <td width="192">Soyeon Park (<a href="pages/projects#vode">VIDEX</a>)</td>
              <td width="192">Yongbin Kwon (<a href="pages/projects#vode">VIDEX</a>)</td>
              <td width="192">Heeseo Jeong (<a href="pages/projects#rul">RUL</a>, '24-'25)</td>
            </tr>
            <tr>
              <td width="192">Dajeong Lee (<a href="pages/projects#rul">RUL</a>)</td>
              <td width="192">Hyewon Jeon (<a href="pages/projects#rul">RUL</a>, '24-'25)</td>              
              <td width="192">Hakyoung An (<a href="pages/projects#rul">RUL</a>)</td>
              <td width="192">Seonghyun Lee (LLLM, '24-'25)</td>

            </tr>
            <tr>
              <td width="192">Yunseong Choe (LLLM)</td>
              <td width="192">Gwangjin Jeong (LLLM, '24-'25)</td>
              <td width="192">Seyeong Ha (LLLM)</td>
              <td width="192">Gyueun Park (<a href="pages/projects#medical-ai">MMM</a>)</td>            
            </tr>
            <tr>
              <td width="192">Seungjun Yu (<a href="pages/projects#medical-ai">MMM</a>)</td>
              <td width="192">Seongbin Kim (<a href="pages/projects#medical-ai">MMM</a>)</td>
              <td width="192"><a href="https://www.linkedin.com/in/jieun-kang-236aa0245/" target="_blank">Jieun Kang</a> (PRICE, '24)</td>
              <td width="192">Junghyun Ahn (<a href="pages/projects#kubic">KUBIC</a>, '24)</td>
            </tr>
            <tr>
              <td width="192">Hyeeun Yeon (<a href="pages/projects#kubic">KUBIC</a>, '24)</td>
              <td width="192">Jaemin Jung (<a href="pages/projects#vode">VIDEX</a>, '23-'24)</td>
              <td width="192">Soonyong Park (<a href="pages/projects#vode">VIDEX</a>, '23-'24)</td>
              <td width="192">Jae Geun Jang (<a href="pages/projects#medical-ai">DANS</a>, '23-'24)</td>
            </tr>
            <tr>              
              <td width="192">Hee Song Kim (<a href="pages/projects#medical-ai">DANS</a>, '23-'24)</td>
              <td width="192">Seong Kyung Kim (<a href="pages/projects#medical-ai">DANS</a>, '23-'24)</td>
              <td width="192">Ye Jun Kim (<a href="pages/projects#medical-ai">DANS</a>, '23-'24)</td>
              <td width="192"><a href="https://www.linkedin.com/in/yeongseo-go-646597205/" target="_blank">Yeongseo Go</a> (<a href="pages/projects#rul">RUL</a>, '23-'24)</td>
            </tr>
            <tr>
              <td width="192"><a href="https://www.linkedin.com/in/%ED%98%9C%EB%AF%BC-%EC%8B%A0-b27894309/" target="_blank">Hyemin Shin</a> (<a href="pages/projects#rul">RUL</a>, '23-'24)</td>
              <td width="192">Chaewon Kim (<a href="pages/projects#vode">SDS</a>, '23-'24)</td>
              <td width="192">Seeun Park (<a href="pages/projects#vode">SDS</a>, '23-'24)</td>
              <td width="192">Ahhyun Kum (<a href="pages/projects#kubic">KUBIC</a>, '23-'24)</td>
            </tr>
            <tr>
              <td width="192">Haeun Yoon (<a href="pages/projects#kubic">KUBIC</a>, '23-'24)</td>
              <td width="192"><a href="https://www.linkedin.com/in/hannah-hyesun-chun-848978226/" target="_blank">Hannah Hyesun Chun</a> (<a href="pages/projects#kubic">KUBIC</a>, '23-'24)</td>
              <td width="192">Yohan Sohn (<a href="pages/projects#medical-ai">DANS</a>, '23-'24)</td>
              <td width="192">Yeseul Kim (<a href="pages/projects#medical-ai">DANS</a>, '23-'24)</td>
            </tr>
            <tr>
              <td width="192">Hanyoung Jeong (<a href="pages/projects#rul">RUL</a>, '22-'24)</td> 
              <td width="192">Seokjun Kim (<a href="pages/projects#rul">RUL</a>, '22-'23)</td>
              <td width="192">Chanju Lee (<a href="pages/projects#kubic">KUBIC</a>, '22-'24)</td>
              <td width="192">Minjoo Shin (<a href="pages/projects#kubic">KUBIC</a>, '22-'23)</td>
            </tr>
            <tr>
              <td width="192">Jeongyeon Yoo (<a href="pages/projects#kubic">KUBIC</a>, '22-'23)</td> 
              <td width="192">Hasung Cho (<a href="pages/projects#medical-ai">DANS</a>, '22-'23)</td>
              <td width="192">Hyeyoon Jung (<a href="pages/projects#medical-ai">DANS</a>, '22-'23)</td>
              <td width="192">Jihyun Moon (<a href="pages/projects#medical-ai">DANS</a>, '22-'23)</td>
            </tr>
            <tr>
              <td width="192">Myeong Ju Lim, R.N. (<a href="pages/projects#medical-ai">DANS</a>, '22-'23)</td>
              <td width="192">Min Ji Park (<a href="pages/projects#medical-ai">DANS</a>, '22-'23)</td> 
              <td width="192">Minchae Kim (<a href="pages/projects#vode">VODE</a>, '22-'24)</td>
              <td width="192">Seohwee Park (<a href="pages/projects#vode">VODE</a>, '22-'23)</td>
            </tr>
            <tr>
              <td width="192">Hyunmuk Kang (<a href="pages/projects#vode">VODE</a>, '22-'23)</td>
              <td width="192">Youngkwang Ko (<a href="pages/projects#vode">VODE</a>, '22-'23)</td> 
              <td width="192">Youngmin Kim (<a href="pages/projects#vode">VODE</a>, '22-'24)</td>
              <td width="192">Soeun Shin (<a href="pages/projects#vode">VODE</a>, '22-'23)</td>
            </tr>
            <tr>
              <td width="192">Jueun Kim (<a href="pages/projects#vode">VODE</a>, '21-'22)</td>
              <td width="192">Yewon Kim (<a href="pages/projects#vode">VODE</a>, '21-'22)</td> 
              <td width="192">Haram Baek (<a href="pages/projects#vode">VODE</a>, '21-'22)</td>
              <td width="192">Harim Kim (<a href="pages/projects#vode">VODE</a>, '21-'22)</td>
            </tr>
            <tr>
              <td width="192">Dokyeong Lee (<a href="pages/projects#vode">VODE</a>, '21-'22)</td>
              <td width="192">Da Hee Han (<a href="pages/projects#vode">VODE</a>, '21-'22)</td>
              <td width="192">Ju Young Kwon (<a href="pages/projects#vode">VODE</a>, '21-'22)</td>
              <td width="192">Jihyoung Jang (<a href="pages/projects#kubic">KUBIC</a>, '21-'22)</td> 
            </tr>
            <tr>
              <td width="192">Hoyoon Choi (<a href="pages/projects#kubic">KUBIC</a>, '21-'22)</td> 
              <td width="192">Hyunsoo Kim (<a href="pages/projects#kubic">KUBIC</a>, '21-'22)</td> 
              <td width="192">Dulguun Dorjlkham (<a href="pages/projects#medical-ai">DANS</a>, '21-'22)</td>
              <td width="192">Juwon Baek (<a href="pages/projects#medical-ai">DANS</a>, '21-'22)</td> 
            </tr>
            <tr>
              <td width="192">Sueun Park (<a href="pages/projects#medical-ai">DANS</a>, '21-'22)</td> 
              <td width="192">Jihyeon Song (PCRISK, <a href="pages/projects#medical-ai">DANS</a>, '21-'22)</td> 
              <td width="192">Inhee Kwak (<a href="pages/projects#kubic">KUBIC</a>, '20-'21)</td>
              <td width="192">Jihee (Eunsol) Park (<a href="pages/projects#kubic">KUBIC</a>, '20-'21)</td> 
            </tr>
            <tr>
              <td width="192">Suah Park (<a href="pages/projects#kubic">KUBIC</a>, '20-'21)</td> 
              <td width="192">Jinwoo Nam (REPROD, PRICE, '20-'21)</td> 
              <td width="192"><a href="https://www.linkedin.com/in/kwangjae-kim/" target="_blank">Kwangjae Kim</a> (REPROD, PRICE, '20-'21)</td>
              <td width="192">Joonyoung Choi (PRICE, '20-'21)</td>
            </tr>
            <tr>
              <td width="192">Hyunsu Han (PRICE, '20-'21)</td>
              <td width="192">Joowon Park (<a href="pages/projects#vode">OBDE</a>, '20-'21)</td>
              <td width="192">Pyeonggang Kim (<a href="pages/projects#vode">OBDE</a>, '20-'21)</td>
              <td width="192">Jaewon Kim (<a href="pages/projects#vode">OBDE</a>, '20-'21)</td>
            </tr>
            <tr>
              <td width="192">Hyoyoung Seok (PCRISK, <a href="pages/projects#medical-ai">DANS</a>, '20-'21)</td>
              <td width="192">Jongmin Lee (PCRISK, '20-'21)</td> 
              <td width="192">Wanseo Jo (PCRISK, '20-'21)</td>
              <td width="192">Jae Hong Cheon (PCRISK, '20-'21)</td>
            </tr>
            <tr>
              <td width="192">Sinhui Kim (PCRISK, '20-'21)</td>
              <td width="192">Kiwon Moon (PCRISK, '20-'21)</td> 
              <td width="192">Hyejeong Hong (PCRISK, '20-'21)</td>
              <td width="192">Junhyung Kim (<a href="pages/projects#ml-method">MLC</a>, '20-'21)</td>
            </tr>
            <tr>
              <td width="192">Byungyoon Park (<a href="pages/projects#ml-method">MLC</a>, '20-'21)</td>
              <td width="192">Seong Min Lee (<a href="pages/projects#vode">VODE</a>, '20)</td> 
              <td width="192">Chan Kyung Kim (<a href="pages/projects#vode">VODE</a>, '20)</td>
              <td width="192">Gi Cheol Kim (<a href="pages/projects#vode">VODE</a>, '20)</td>
            </tr>
            <tr>
              <td width="192">Byung-Un Jeong (FACE, '20)</td>
              <td width="192">Ji-Won Kim (FACE, '20)</td> 
              <td width="192">Hyeyoung Kim (<a href="pages/projects#kubic">KUBIC</a>, '19-'20)</td>
              <td width="192">Miso Kim (<a href="pages/projects#kubic">KUBIC</a>, '19-'20)</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col-lg-12 text-justify -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
