<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to the <b>HAIL</b> Research Group!</h2>
        <p class="lead">HAIL (Handong Artificial Intelligence Lab) is an active research group 
        within the School of Computer Science and Electrical Engineering 
        at Handong Global University. We are dedicated to pioneering advances 
        in artificial intelligence, with research spanning deep learning, 
        graph models, anomaly detection, and applied machine learning. 
        Our mission is to drive innovation and excellence in the field of AI.</p>
      </div>
      <!-- /.col-lg-12 text-center -->
      <div class="col-lg-12 text-justify" style="margin-top: 20px;">
        <h3>People</h3>
        
        <div class="col-lg-12 text-justify" style="margin-left: 10px;">
          <!-- PI -->
          <h4>PI</h4>
          <table class="people-table">
            <tr>
              <td><a href="https://charmgil.github.io/" target="_blank">Charmgil Hong, Ph.D.</a></td>
            </tr>
          </table>
          <br/><br/><br/>
          
          <!-- Grads -->
          <h4>Graduate Students</h4>
          <table class="people-table">
            <tr>
              <th colspan="4">Master's Students</th>
            </tr>
            <tr>
              <td width="192">Jihyeon Song</td>
              <td width="192">Harim Kim</td>
              <td width="192">Jihyun Moon</td>
              <td width="192"> </td>
            </tr>
          </table>
          <br/><br/><br/>
          
          <!-- Undergrads -->
          <h4>Undergraduate Students</h4>
          <table class="people-table">
            <tr>
              <th colspan="4">Post-Capstone Students</th>
            </tr>
            <tr>
              <td width="192">Jieun Kang</td>
              <td width="192">Yeongseo Go</td>
              <td width="192">Seong Kyung Kim</td>
              <td width="192">Ye Jun Kim</td>
            </tr>
            <br/>
            <br/>
            <tr>
              <th colspan="4">Students on Capstone Projects</th>
            </tr>
            <tr>
              <td width="192">Hyeeun Yeon</td>
              <td width="192">Junghyun Ahn</td>
              <td width="192">-</td>
              <td width="192">-</td>
            </tr>
            <tr>
              <td width="192">-</td>
              <td width="192">-</td>
              <td width="192">-</td>
              <td width="192">-</td>
            </tr>
          </table>
          <br/><br/><br/>

          <!-- Former members -->
          <h4>Former Students</h4>
          <table class="people-table">
            <tr>
              <td>Geonyeong Choi - Ph.D. Student at the University of Pittsburgh</td>
            </tr>
          </table>
        </div>
        
      </div>
      <!-- /.col-lg-12 text-justify -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
