<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Publications</h2>
        <p class="lead">Explore our published papers that include our research findings.</p>
        <hr class="small">
        <div class="row">
        </div>
        <!-- /.row (nested) -->
<!--         <a href="#" class="btn btn-dark">View More Items</a> -->

        <h2>Awards</h2>
        <p class="lead">Celebrate our achievements and recognitions that highlight our commitment to excellence in AI research.</p>
        <hr class="small">
        <div class="row">
        </div>
        <!-- /.row (nested) -->

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
