<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Publications</h2>
        <p class="lead">Explore our published papers that include our research findings.</p>
        <hr class="small">
        <div class="row">
          <div class="col-lg-10 text-left">
            <h4>International</h4>
            <ul class="publication-list">
              <li>.</li>
              <li>.</li>
              <li>.</li>
            </ul>
            <h4>Domestic (Korean)</h4>
            <ul class="publication-list">
              <li>.</li>
              <li>.</li>
              <li>.</li>
            </ul>
          </div>
        </div>
        <!-- /.row (nested) -->
<!--         <a href="#" class="btn btn-dark">View More Items</a> -->

        <h2>Awards</h2>
        <p class="lead">Celebrate our achievements and recognitions that highlight our commitment to excellence in AI research.</p>
        <hr class="small">
        <div class="row">
          <div class="col-lg-10 text-left">
            <ul class="publication-list">
              <li>Harim Kim et al. Best Paper Award. AVSS2024.</li>
              <li>Jihyun Moon. Generative AI Competition. VAIV x KCC2024.</li>
              <li>Harim Kim. Best Presentation Award. The Liver Week 2024.</li>
              <li>.</li>
            </ul>
          </div>
        </div>
        <!-- /.row (nested) -->

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
