<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGQ9BVCX"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include projects.html %}
  {% include callout.html %}
  {% include portfolio.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
</body>

</html>


